@define-color mauve     #bb9af7;   
@define-color red       #f7768e;   
@define-color lavender  #7aa2f7;   
@define-color text      #c0caf5;   
@define-color background #1a1b26;  
@define-color background_alt #24283b;

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'CaskaydiaMono Nerd Font Mono', monospace;
    font-size: 16px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 5px;
    background-color: alpha(@background,.7);
}
#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background,.2);
}
#input image {
    border: none;
    color: @red;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.6);
    border: none;
    border-radius: 10px;
    background-color: alpha(@background_alt, .8);
}
#entry:selected #text {
    color: @mauve;
}
#entry:drop(active) {
    background-color: @lavender !important;
}
