@define-color background #1a1b26;  
@define-color foreground #7dcfff;  
@define-color accent     #7aa2f7;  
/* @define-color blue       #7dcfff; */
@define-color warning    #e0af68;  
@define-color critical   #f7768e;  
