@define-color bg #1a1b26;
@define-color bg-alt #565f89;
@define-color fg #c0caf5;

@define-color red #f7768e;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color green #9ece6a;
@define-color cyan #2ac3de;
@define-color blue #7aa2f7;
@define-color purple #bb9af7;
@define-color grey #565f89;
