* {
    font-family: "CaskaydiaMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #7aa2f7; /* акцентная рамка */
    border-radius: 5px;
    background-color: #1a1b26; /* основной фон */
    font-family: monospace;
    font-size: 12px;
}

#input {
    margin: 5px;
    border: 1px solid #1a1b26;
    color: #c0caf5; /* основной текст */
    background-color: #1a1b26;
}

#input image {
    color: #c0caf5;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1a1b26;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1a1b26;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#entry:selected {
    background-color: #7aa2f7; /* выделение */
    color: #1a1b26;
    font-weight: normal;
    border-radius: 5px;
}

#text:selected {
    background-color: #7aa2f7;
    color: #1a1b26;
    font-weight: normal;
}
